.header {
    grid-area: header;

    display: grid;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    align-content: start;
    justify-self: stretch;
    align-self: center;
    /*grid-template-columns: 3fr 200px;*/
    /*grid-template-rows: auto;*/
    grid-template-areas: "picture title"
					 "picture subtitle"
					 "links links";
}